## Settings file was created by plugin Host Fixes v1.0.18
## Plugin GUID: HostFixes

[Experimental]

## Enable experimental changes that may trigger on legitimate players (Requires more testing)
# Setting type: Boolean
# Default value: false
Experimental Changes. = false

## Enable experimental checks to prevent extreme client teleporting (Requires more testing)
# Setting type: Boolean
# Default value: false
Experimental Position Checks. = false

[General]

## Minimum number of votes needed for the ship to leave early. Still requires that all the dead players have voted to leave.
# Setting type: Int32
# Default value: 1
Minimum Votes To Leave Early = 2

## If a player is inside the ship, they can't be damaged by other players.
# Setting type: Boolean
# Default value: false
Disable PvP inside the ship = false

## Check if the price on the terminal matches what is sent by the client.
# Setting type: Boolean
# Default value: false
Check prices = false

## Only allow ship objects to be placed if the they are still upright.
# Setting type: Boolean
# Default value: true
Check ship object rotation = true

## Limit the grab distance to twice of the hosts grab distance. Defaulted to off because of grabbable desync.
# Setting type: Boolean
# Default value: false
Limit grab distance = false

## Limit distance that someone can pull the ship lever from. 0 to disable.
# Setting type: Int32
# Default value: 5
Limit ship lever distance = 5

## Limit distance that someone can press the teleporter buttton from. 0 to disable.
# Setting type: Int32
# Default value: 5
Limit teleporter button distance = 5

[Logging]

## Log messages that players send on the signal translator.
# Setting type: Boolean
# Default value: false
Log Signal Translator Messages = false

## Log when a player damages another player.
# Setting type: Boolean
# Default value: false
Log PvP damage = false

